.carusel-wrapper {
  width: 767px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.carousel-list {
    list-style: none;
    width: 10000px;
    padding: 0px;
    position: relative;
}
.carousel-element {
    display: block;
    padding-right: 10px;
    float: left;
    text-align: center;
}
.carousel-element img {
    max-width: 200px;
}
.carousel-hider {
    overflow: hidden;
    margin: 0 auto;
}
.carousel-arrow-left, .carousel-arrow-right {
    display: inline-block;
    border: 1px solid grey;
    background-color: #355FAD;
    padding: 5px;
    box-shadow: 0 0 4px #D5E1EC;
    color: rgb(230, 229, 241);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-arrow-left:hover, .carousel-arrow-right:hover {
    cursor: pointer;
    background-color: #1C2E50;
}
.carousel-arrow-right {
  right: 0;
}
.carousel-arrow-left {
  left: 0;
}
