@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
body {
    background: #fff url(../img/bg.jpg) no-repeat 50% 0;
    font: 14px/16px "Helvetica Neue Regular", Arial, sans-serif;
    color: #fff;
    -webkit-background-size: cover;
    background-size: cover;
}
h1 {
    background: rgba(0, 0, 0, 0.63);
    font-size: 24px;
    padding: 24px 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #60b5ed;
    font-size: 14px;
}
.box {
    display: table;
    width: 100%;
    height: 100%;
}
.wrapper {
    width: 560px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/*HEADER*/

header {
    background: url(../img/headerBG.jpg);
    text-align: right;
    min-width: 100%;
}
.header-actions {
    padding-right: 20px;
    float: right;
    border-left: 1px solid #56a2dc;
}
.sing-up a {
    text-decoration: underline;
    color: #fff;
}
.sing-up a:hover {
    text-decoration: none;
}
.sing-up {
    float: left;
    padding: 10px 14px;
    background: rgb(80,175,220); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(80,175,220,1) 0%, rgba(46,122,196,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(80,175,220,1)), color-stop(100%,rgba(46,122,196,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(80,175,220,1) 0%,rgba(46,122,196,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(80,175,220,1) 0%,rgba(46,122,196,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(80,175,220,1) 0%,rgba(46,122,196,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(80,175,220,1) 0%,rgba(46,122,196,1) 100%); /* W3C */
}
.offers {
    color: #fff;
    box-sizing: border-box;
    background: url(../img/flag.png) no-repeat 0 50%;
    padding: 4px 0px 4px 37px;
    margin: 6px 18px;
    float: left;
}
header li a {
    display: block;
    padding: 10px 14px;
}
.header-nav {
    float: right;
}
.header-nav li {
    float: left;
}
header ul a:hover,
header ul a.active {
    color: #fff;
    background: #60b5ed;
}

/*CONTENT*/

.container {
    width: 560px;
    margin: 0 auto;
}
.form {
    margin-top: 2px;
    padding: 36px 0 20px;
    background: rgba(0, 0, 0, 0.63);
}
.button-fb {
    width: 277px;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    line-height: 34px;
    margin: 0 auto;
    box-shadow: inset 0 1px 0 #879ac0;
    font-weight: bolder;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    padding-right: 15px;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 1);
    background: rgb(62,86,148); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(62,86,148,1) 1%, rgba(48,66,114,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(62,86,148,1)), color-stop(100%,rgba(48,66,114,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(62,86,148,1) 1%,rgba(48,66,114,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(62,86,148,1) 1%,rgba(48,66,114,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(62,86,148,1) 1%,rgba(48,66,114,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(62,86,148,1) 1%,rgba(48,66,114,1) 100%); /* W3C */
}
.button-fb span {
    font-weight: lighter;
    text-shadow: none;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 1);
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.fa-facebook {
    float: left;
    line-height: 35px;
    width: 35px;
    height: 35px;
    border-right: 1px solid #223c77;
    box-shadow: 1px 0 0 0 #4b68ac;
    font-size: 19px;
    text-shadow: none;
}
.fa-chevron-right {
    float: right;
    line-height: 35px;
    text-shadow: none;
}
.line {
    width: 276px;
    margin: 27px auto;
    position: relative;
}
.line::after,
.line::before {
    content: "";
    width: 122px;
    border-bottom: 1px solid #666;
    box-shadow: 0 1px 0 0 #000;
    position: absolute;
    bottom: 8px;
}
.line::before {
    left: 0;
}
.line::after {
    right: 0;
}
.line span {
    color: #999;
}

/*FORM*/

form {
    width: 277px;
    margin: 0 auto;
}
.form-field {
    margin-bottom: 18px;
    text-align: left;
}
.form-checkbox,
input[type="password"],
input[type="text"] {
    border: none;
    height: 36px;
    width: 277px;
    border-bottom: 1px solid #474747;
    box-sizing: border-box;
    background: #000;
    color: #fff;
    padding: 0 20px;
    font: 14px/16px "Helvetica Neue Regular";
}
input[type="checkbox"] {
    vertical-align: bottom;
}
input:not([type="checkbox"]):focus {
    color: #fff;
    background: #1b5288;
    box-shadow: 0 0 7px 3px #2f7bc5;
    border-bottom: 1px solid #689bcc;
}
.form-checkbox {
    padding-left: 0;
}
label {
    padding-left: 5px;
    color: #ccc;
}
.form-submit {
    display: block;
    width: 151px;
    height: 36px;
    box-sizing: border-box;
    margin: 23px auto 20px;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #6bb8e7;
    background: rgb(80,174,219); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(80,174,219,1) 0%, rgba(46,122,196,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(80,174,219,1)), color-stop(100%,rgba(46,122,196,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(80,174,219,1) 0%,rgba(46,122,196,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(80,174,219,1) 0%,rgba(46,122,196,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(80,174,219,1) 0%,rgba(46,122,196,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(80,174,219,1) 0%,rgba(46,122,196,1) 100%); /* W3C */
    cursor: pointer;
}
.container p {
    width: 310px;
    margin: auto;
    color: #ccc;
    font-size: 11px;
}
