* {
    margin: 0;
    padding: 0;
}
body {
    background: #f9f9f9;
    font: 13px/21px  "Open Sans", Arial, Helvetica sans-serif;
}
img {
    display: block;
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
    display: inline-block;
}
.wrapper {
    width: 966px;
    margin: 0 auto;
    padding: 49px 48px 60px 46px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
}

/*HEADER*/
header,
nav {
    margin-bottom: 40px;
}
.logo {
    width: 144px;
    height: 40px;
    background: url(../img/logo.png) no-repeat;
    display: block;
}
.logo a {
    text-indent: -10em;
    overflow: hidden;
    height: 40px;
    display: block;
}

/*MENU*/

.mainMenu ul {
    font-size: 0;
    background: #5e5e5e; /* Old browsers */
    background: -moz-linear-gradient(top, #5e5e5e 0%, #444343 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e5e5e), color-stop(100%,#444343)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5e5e5e 0%,#444343 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5e5e5e 0%,#444343 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5e5e5e 0%,#444343 100%); /* IE10+ */
    background: linear-gradient(to bottom, #5e5e5e 0%,#444343 100%); /* W3C */
}
.mainMenu a {
    display: block;
    font-size: 14px;
    padding: 0 35px;
    margin-right: -1px;
    color: #fff;
    line-height: 40px;
    -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    -ms-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    -o-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.mainMenu li a:hover,
.mainMenu li a.active {
    padding: 0 34px;
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    background: #4a4a4a; /* Old browsers */
    background: -moz-linear-gradient(top, #4a4a4a 0%, #2e2e2e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a4a4a), color-stop(100%,#2e2e2e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4a4a4a 0%,#2e2e2e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4a4a4a 0%,#2e2e2e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4a4a4a 0%,#2e2e2e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4a4a4a 0%,#2e2e2e 100%); /* W3C */
}
.mainMenu li:first-child a.active  {
    border-left: none;
    padding: 0 34px 0 35px;
}

/*SIDEBAR*/

aside {
    width: 240px;
    float: left;
}
aside li {
    display: block;
}
aside li:last-child {
    border-bottom: 1px solid #c8c8c8;
}
aside ul a{
    display: block;
    border: 1px solid #c8c8c8;
    border-bottom: none;
    padding-left: 21px;
    color: #656363;
    transition: all 0.2s linear;
    line-height: 39px;
}
.active {
    color: #2c2c2c;
    background: #f9f9f9;
    padding-left: 35px;
}
aside ul a:hover {
    color: #2c2c2c;
    background: #f9f9f9;
    padding-left: 35px;
}

/*CONTENT*/

section {
    width: 678px;
    margin-left: 288px;
}
.bigImage {
    padding: 46px 88px 45px 88px;
    border: 1px solid #c8c8c8;
}
.bigImage img {
    display: inline-block;
    vertical-align: top;
}
.productInfo {
    margin: 34px 23px 60px 24px;
}
.productInfo p {
    margin-bottom: 20px;
}

/*FOOTER*/

footer {
    background: #e1e1e1;
}
footer nav {
    width: 545px;
    float: left;
}
footer nav a {
    color: #2c2c2c;
}
footer nav a:hover {
    text-decoration: underline;
}
footer li {
    padding: 0 45px;
    line-height: 40px;
}
footer li:first-child {
    padding-left: 25px;
}
.activeFooter {
    text-decoration: underline;
}
footer p {
    text-align: right;
    line-height: 39px;
    padding-right: 25px;
}
